2. Normative references: Incomplete citations

**GB-002** |   | 2 |   | ed | There are general   typographic and textual inconsistencies in the citations of documents that   are referenced normatively:   ·       Only the title of the document should be in italics.   ·       Web addresses should be preceded by “Available at” as described in   Directives Part 2 Clause 10.3.   ·       Author or editor names are not consistently included.

**Remove italics   from all text in citations except for document titles.   Add the words   “Available at” before each web address.**

> Rex: We  agree that all titles and only titles should be in italics, and that’s how we   submitted them. However, they got changed by the ISO tools process. We’ve restored them. Added “Available at”.

**GB-003**: Citation 1 (FIPS 186-4) | ed | The name of the   publisher of FIPS 186-4 is missing. | 

Complete the   citation:   “FIPS 186-4, Digital Signature Standard (DSS), National Institute of   Standards and Technology, US Department of Commerce, July 2013”

> Rex: done

**GB-004** |   | 2 | Citation 11   (RFC 7231) | ed | The date of   publication is unnecessarily repeated. | 

Remove year   following author names.

> Rex: done

**GB-005** |   | 2 | Citation 14 (XML) | ed | The reference name   “XML” is potentially confusing. The term “The XML 1.0 specification” is used   elsewhere in the text (see clause 7.2.5) and is clearer.

Change the   citation to:   “The XML 1.0 specification, Extensible Markup Language (XML) 1.0 (Fourth   Edition), World Wide Web Consortium, 29 September 2006, Tim Bray, Jean   Paoli, C. M. Sperberg-McQueen, Eve Maler, and François Yergeau (editors).   http://www.w3.org/TR/2006/REC-xml-20060816/”

> Rex: done

**GB-006** |   | 2 | Citation 15 (XML   Base) | ed | The term “W3C Recommendation”   should be replaced by the publisher’s name.   The publisher name   and editors are missing.   There is no   reference to XML Base in the body of the specification.

Complete the   citation:    “XML Base, XML Base (Second Edition), World Wide Web Consortium, 28   January 2009, Jonathan Marsh and Richard Tobin (editors). Available at https://www.w3.org/TR/2009/REC-xmlbase-20090128/.”   Add a normative   reference in the body of the specification, probably in clause 7.5.3.1.

> Rex: citation fixed; normative reference yet to be made.

**GB-007** |   | 2 | Citation 16 (W3C   XML Schema) | ed | The reference “W3C   XML Schema” is used consistently in the text (except in C.1) to refer to XML   Schema Part 1: Structures Second Edition. The citation should reflect   this.   The term “W3C   Recommendation” should be replaced by the publisher’s name.   The editor names   are missing in the citation.

Complete the   citation:    “W3C XML Schema, XML Schema Part 1: Structures Second Edition, World   Wide Web Consortium, 28 October 2004, Henry Thompson, David Beech, Murray   Maloney and Noah Mendelsohn (editors). Available at   https://www.w3.org/TR/xmlschema-1/.”

> Rex: Done

**GB-008** |   | 2 | Citation 17 (XML   Schema Part 2) | ed | The reference “XML   Schema Part 2: Datatypes” is used consistently in the text to refer to XML   Schema Part 2: Datatypes Second Edition. The citation should reflect   this.   The term “W3C   Recommendation” should be replaced by the publisher’s name.   The editor names   are missing in the citation.

Change the   citation to:   “XML Schema Part 2: Datatypes, XML Schema Part 2: Datatypes Second Edition,   World Wide Web Consortium, 28 October 2004, Paul Biron and Ashok Malhotra   (editors). Available at https://www.w3.org/TR/xmlschema-2/.”

**GB-009** |   | 2 | Citation 18   (XML-Signature Syntax and Processing) | ed | The term “W3C   Recommendation” should be replaced by the publisher’s name.   The editor names   are missing in the citation.

Change the   citation to:    “XML-Signature Syntax and Processing, World Wide Web Consortium, 12   February 2002, Donald Eastlake, Joseph Reagle and David Solo (editors). Available   at http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/.”

**GB-010** |   | 2 | Citation 19 (ZIP file format spec.) | ed | The reference “ZIP   file format specification” is used three times in the draft, but “ZIP   Appnote” is used ten times. The latter should be used consistently.

Change the   citation to:   “ZIP Appnote, ZIP File Format Specification Version 6.2.0, PKWARE Inc,   2004. Available at:   http://www.pkware.com/documents/APPNOTE/APPNOTE_6.2.0.txt.”

**GB-011** |   | 2 | Citation 5 (SP 800-56A) | ed | The name of the   publisher of SP 800-56A Rev. 3 is missing. The publisher acronym NIST is   unnecessarily included in the reference name.

Complete the   citation:   “SP 800-56A Rev. 3, Recommendation for Pair-Wise Key-Establishment Schemes   Using Discrete Logarithm Cryptography, National Institute of Standards   and Technology, US Department of Commerce, April 2018“   Drop “NIST” in the   reference name here and in the text (one reference in 11.5.5).

**GB-012** |   | 2 | Citation 6   (RFC 2046) | ed | The date of   publication is unnecessarily repeated.

Remove year   following author names.

**GB-013** |   | 2 | Citation 7   (RFC 3986) | ed | The date of   publication is unnecessarily repeated. 

Remove year   following author names.

**GB-014** |   | 2 | Citation 8   (RFC 3987) | ed | The date of   publication is unnecessarily repeated.

Remove year   following author names.

**GB-015** |   | 2 | Citation 9   (RFC 5234) | ed | The date of publication   is unnecessarily repeated.

Remove year   following editor names.

**US-077** |   | 2 |   | Ed | Entry for   NIST SP 800-56A needs a space or punctuation before “Rev”

Please add   space or punctuation.

**US-078** |   | 1 |   | Ed | Entry for   RFC 7231 needs a comma before “Hypertext” 

Please add   the comma.

As submitted to ISO via SC 34 as SC 34 N2681, *all* the use of italics in entries was *exactly correct*, and all hyperlinks were marked as such. However, this was *not* the case in ISO_IEC_DIS_29500-2_(E).pdf, which ISO sent out for ballot. For example, in the pdf from ISO:

- NIST SP 800-56ARev. 3 has the year in italic
- RFC 2046, has trailing elements set in italic
- RFC 3986, has trailing elements set in italic
- RFC 3987, has trailing elements set in italic
and so on.

Why should we have to correct mistakes ISO made?

WG4 approved on 2020-08-26. Rex to check against ISO's comments.

I need help with one remaining issue:

> GB-006 |   | 2 | Citation 15 (XML Base) | ed |  **There is no reference to XML Base in the body of the specification.**

> GB suggests we add a normative reference in the body of the specification, probably in clause 7.5.3.1.

@murata2makoto, can you please provide a normative reference.

Since Francis already provided a solution in [his proposal ](https://github.com/sc34wg4/opcRevision/issues/19#issuecomment-705067111), let's continue this discussion in #19 